{{#each blogs as |blog| }}
<div>
    <div>
    <h3>{{blog.title}}</h3>
    <p>Date posted: {{format_date blog.date_created}}</p>
    <p>Posted by: {{user.name}}</p>
    </div>

    <div>
        <p>{{blog.description}}</p>
    </div>
</div>
{{/each}}

{{#if logged_in}}
    <button type="button" class="btn btn-primary btn-lg" id="add-post">Add Post</button>
    <script src="/js/sendToCreate.js"></script>
{{/if}}